@{
    ViewData["Title"] = "Home Page";
}

@model List<Match>

<table>
    <table>
        <tr>
            <th>Дата встречи</th>
            <th>Команда 1</th>
            <th>Команда 2</th>
            <th>Сделайте ставку</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Date.ToString("yyyy/MM/dd")</td>
                <td>@item.CommandOne</td>
                <td>@item.CommandOne</td>
                <td>
                    <a  href="@Url.Action("Bet", "Home",  new  { matchId = item.Id, commandOne = item.CommandOne, commandTwo = item.CommandTwo, date=item.Date })">
                        Жми
                    </a>
                </td>
            </tr>
        }
         
    </table>
</table>
